@font-face {
    font-family: 'sidFont1';
    src: url('/fonts/Roboto-Black.ttf') format('truetype'),
    /* Additional font properties can be set here */
}
@font-face {
    font-family: 'sidFont2';
    src: url('/fonts/Roboto-BlackItalic.ttf') format('truetype'),
    /* Additional font properties can be set here */
}
div{
    height: 200px;
    background-color: black;
    font-family: 'YourCustomFont', serif;
    color: aliceblue;
}
p{
    height: 200px;
    background-color: black;
    font-family: serif;
    color: pink;
}